# Chapter 6.2 - Pandas filtering

Pandas has powerful features that allow you to do many things with tabular data. 

One very basic feature is the ability to filter data. Filtering data is the process of only looking at data that have specific attributes.

<a href=https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html>Pandas examples</a>

### Chapter 6.2.1 - SPC tornado dataset

The tornado data we will use in the following examples are curated and provided by the [Storm Prediction Center](https://www.spc.noaa.gov/). Each row from the "actual tornadoes" dataset represents one tornado report, and several [attributes](https://www.spc.noaa.gov/wcm/data/SPC_severe_database_description.pdf) like time, location, and other information.

Download the dataset:

In [1]:
!wget -nc "https://raw.githubusercontent.com/ahaberlie/python_programming_geosciences/refs/heads/main/data/1950-2024_actual_tornadoes.csv"

File ‘1950-2024_actual_tornadoes.csv’ already there; not retrieving.

We can print out the column names using the ```columns``` method:

In [2]:
import pandas as pd

tor = pd.read_csv("1950-2024_actual_tornadoes.csv")

tor.columns

Index(['om', 'yr', 'mo', 'dy', 'date', 'time', 'tz', 'st', 'stf', 'stn', 'mag',
       'inj', 'fat', 'loss', 'closs', 'slat', 'slon', 'elat', 'elon', 'len',
       'wid', 'ns', 'sn', 'sg', 'f1', 'f2', 'f3', 'f4', 'fc'],
      dtype='object')

You can read about the column information here: https://www.spc.noaa.gov/wcm/data/SPC_severe_database_description.pdf 

We can also look at the types of data in each column using the ```info``` method. This can assure that you are treating columns as numbers if you are running statistics:

In [3]:
tor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71813 entries, 0 to 71812
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   om      71813 non-null  int64
 1   yr      71813 non-null  int64
 2   mo      71813 non-null  int64
 3   dy      71813 non-null  int64
 4   date    71813 non-null  object
 5   time    71813 non-null  object
 6   tz      71813 non-null  int64
 7   st      71813 non-null  object
 8   stf     71813 non-null  int64
 9   stn     71813 non-null  int64
 10  mag     71813 non-null  int64
 11  inj     71813 non-null  int64
 12  fat     71813 non-null  int64
 13  loss    71813 non-null  float64
 14  closs   71813 non-null  float64
 15  slat    71813 non-null  float64
 16  slon    71813 non-null  float64
 17  elat    71813 non-null  float64
 18  elon    71813 non-null  float64
 19  len     71813 non-null  float64
 20  wid     71813 non-null  int64
 21  ns      71813 non-null  int64
 22  sn      71813 non-null  int64
 23  sg      71813 non-null  int64
 24  f1      71813 non-null  int64
 25  f2      71813 non-null  int64
 26  f3      71813 non-null  int64
 27  f4      71813 non-null  int64
 28  fc      71813 non-null  int64
dtypes: float64(7), int64(19), object(3)
memory usage: 15.9+ MB

You can run summary statistics using the ```describe``` method.

This method is very useful for looking at quick statistics. However, it demonstrates an important point--you need to understand the importance of these statistics.

The average dy (day) that a tornado happens is 15.9.. why do you think this is?

In [4]:
tor.describe()

,om,yr,mo,dy,tz,stf,stn,mag,inj,fat,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
count,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000,...,71813.000000,71813.000000,71813.000000,71813.000000,71813.0,71813.000000,71813.000000,71813.000000,71813.000000,71813.000000
mean,135308.810271,1993.226435,5.954757,15.948436,3.000919,29.123863,22.163007,0.604208,1.378650,0.087352,...,3.521879,111.125339,1.009204,0.990977,1.0,104.186624,8.812611,1.694108,0.504505,0.025942
std,244805.414722,20.197898,2.453591,8.774455,0.070797,14.991506,31.451375,1.565701,17.745993,1.443495,...,8.201032,211.036982,0.097375,0.094563,0.0,96.049523,38.435430,16.647878,9.092967,0.158965
min,1.000000,1950.000000,1.000000,1.000000,0.000000,1.000000,0.000000,-9.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,298.000000,1977.000000,4.000000,8.000000,3.000000,18.000000,0.000000,0.000000,0.000000,0.000000,...,0.180000,20.000000,1.000000,1.000000,1.0,37.000000,0.000000,0.000000,0.000000,0.000000
50%,619.000000,1996.000000,6.000000,16.000000,3.000000,28.000000,10.000000,1.000000,0.000000,0.000000,...,0.880000,50.000000,1.000000,1.000000,1.0,85.000000,0.000000,0.000000,0.000000,0.000000
75%,1430.000000,2010.000000,7.000000,24.000000,3.000000,42.000000,30.000000,1.000000,0.000000,0.000000,...,3.330000,100.000000,1.000000,1.000000,1.0,135.000000,0.000000,0.000000,0.000000,0.000000
max,625192.000000,2024.000000,12.000000,31.000000,9.000000,78.000000,232.000000,5.000000,1740.000000,158.000000,...,234.700000,4576.000000,3.000000,1.000000,1.0,810.000000,820.000000,710.000000,507.000000,1.000000

We should always do some initial checks on our dataset. For example, we expect the data to be from 1950 to 2022. How can we assure this is the case? There are many options, including:

1. ```unique```
2. ```describe```
3. ```min``` or ```max```

In [5]:
tor['yr'].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [6]:
tor['yr'].describe()

count    71813.000000
mean      1993.226435
std         20.197898
min       1950.000000
25%       1977.000000
50%       1996.000000
75%       2010.000000
max       2024.000000
Name: yr, dtype: float64

In [7]:
print("max=", tor['yr'].max(), "min=", tor['yr'].min())

max= 2024 min= 1950

**Indexing for the tornado database**

We should just keep the default index. Each row is a tornado report, and there are many tornadoes that happen each year. So, unlike the examples in the last slideshow, yr (year) is not a good index column choice.

In [8]:
tor.yr

0        1950
1        1950
2        1950
3        1950
4        1950
         ...
71808    2024
71809    2024
71810    2024
71811    2024
71812    2024
Name: yr, Length: 71813, dtype: int64

### Chapter 6.2.2 - Using conditionals to subset pandas DataFrames

**[Please review Conditionals and If Statements](https://ahaberlie.github.io/python_programming_geosciences/complex-if-elif-else-statements/)**

We can use conditionals to select what rows we want to examine.

Pandas does this by generating True or False arrays based on tests.

This code prints out the year associated with each tornado report

In [9]:
print(tor['yr'])

0        1950
1        1950
2        1950
3        1950
4        1950
         ...
71808    2024
71809    2024
71810    2024
71811    2024
71812    2024
Name: yr, Length: 71813, dtype: int64

We can create a True or False array by running a test like ```tor['yr'] == 1950``` which results in ```True``` for every row that the year is 1950, otherwise ```False```.

In [10]:
print(tor['yr'] == 1950)

0         True
1         True
2         True
3         True
4         True
         ...
71808    False
71809    False
71810    False
71811    False
71812    False
Name: yr, Length: 71813, dtype: bool

We combine this with our DataFrame in one of two ways.

One, set the condition and the resulting ```True``` or ```False``` to a variable and then put it inside square brackets:

In [11]:
only_in_1950 = tor['yr'] == 1950

tor[only_in_1950]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,...,15.8,10,1,1,1,25,0,0,0,0
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,...,2.0,880,1,1,1,47,0,0,0,0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,...,0.1,10,1,1,1,177,0,0,0,0
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,...,0.1,10,1,1,1,209,0,0,0,0
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,...,2.0,37,1,1,1,101,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,181,1950,8,8,1950-08-08,01:00:00,3,MO,29,6,...,2.0,10,1,1,1,77,0,0,0,0
197,182,1950,8,9,1950-08-09,16:55:00,3,WV,54,1,...,5.0,10,1,1,1,107,0,0,0,0
198,189,1950,9,15,1950-09-15,17:45:00,3,OK,40,21,...,6.8,100,1,1,1,63,0,0,0,0
199,190,1950,9,16,1950-09-16,01:30:00,3,OK,40,22,...,0.1,10,1,1,1,121,0,0,0,0
200,191,1950,9,21,1950-09-21,17:30:00,3,NE,31,6,...,22.5,67,1,1,1,109,0,0,0,0

or you can put the test directly into the square brackets:

In [12]:
tor[tor.yr == 1950]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,...,15.8,10,1,1,1,25,0,0,0,0
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,...,2.0,880,1,1,1,47,0,0,0,0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,...,0.1,10,1,1,1,177,0,0,0,0
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,...,0.1,10,1,1,1,209,0,0,0,0
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,...,2.0,37,1,1,1,101,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,181,1950,8,8,1950-08-08,01:00:00,3,MO,29,6,...,2.0,10,1,1,1,77,0,0,0,0
197,182,1950,8,9,1950-08-09,16:55:00,3,WV,54,1,...,5.0,10,1,1,1,107,0,0,0,0
198,189,1950,9,15,1950-09-15,17:45:00,3,OK,40,21,...,6.8,100,1,1,1,63,0,0,0,0
199,190,1950,9,16,1950-09-16,01:30:00,3,OK,40,22,...,0.1,10,1,1,1,121,0,0,0,0
200,191,1950,9,21,1950-09-21,17:30:00,3,NE,31,6,...,22.5,67,1,1,1,109,0,0,0,0

We can combine conditions to get very specific filters. The same rules of combining conditions earlier in the class apply here!

Here is how we get all reports on March 27th, 1950 by defining variables.

In [13]:
only_in_1950 = tor['yr'] == 1950
only_in_march = tor['mo'] == 3
only_on_the_27th = tor['dy'] == 27

tor[(only_in_1950) & (only_in_march) & (only_on_the_27th)]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
46,38,1950,3,27,1950-03-27,03:00:00,3,OK,40,2,...,0.1,77,1,1,1,121,0,0,0,0
47,39,1950,3,27,1950-03-27,05:00:00,3,MS,28,6,...,0.1,10,1,1,1,53,0,0,0,0
48,40,1950,3,27,1950-03-27,06:00:00,3,LA,22,9,...,15.3,17,1,1,1,35,0,0,0,0
49,41,1950,3,27,1950-03-27,07:30:00,3,MS,28,7,...,11.9,10,1,1,1,7,0,0,0,0
50,42,1950,3,27,1950-03-27,07:45:00,3,MS,28,4,...,59.3,50,1,1,1,49,121,123,79,0
51,43,1950,3,27,1950-03-27,07:45:00,3,MS,28,5,...,31.9,50,1,1,1,49,121,123,101,0
52,44,1950,3,27,1950-03-27,08:30:00,3,LA,22,10,...,0.5,27,1,1,1,37,0,0,0,0
53,45,1950,3,27,1950-03-27,08:45:00,3,MS,28,9,...,4.7,10,1,1,1,25,0,0,0,0
54,46,1950,3,27,1950-03-27,11:00:00,3,MS,28,8,...,0.1,10,1,1,1,141,0,0,0,0
55,47,1950,3,27,1950-03-27,15:00:00,3,TN,47,3,...,0.2,10,1,1,1,177,0,0,0,0
56,48,1950,3,27,1950-03-27,16:30:00,3,IL,17,4,...,3.0,50,1,1,1,113,0,0,0,0

here is how we do it by placing the conditions directly in the square brackets:

In [14]:
tor[(tor['yr'] == 1950) & (tor['mo'] == 3) & (tor['dy'] == 27)]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
46,38,1950,3,27,1950-03-27,03:00:00,3,OK,40,2,...,0.1,77,1,1,1,121,0,0,0,0
47,39,1950,3,27,1950-03-27,05:00:00,3,MS,28,6,...,0.1,10,1,1,1,53,0,0,0,0
48,40,1950,3,27,1950-03-27,06:00:00,3,LA,22,9,...,15.3,17,1,1,1,35,0,0,0,0
49,41,1950,3,27,1950-03-27,07:30:00,3,MS,28,7,...,11.9,10,1,1,1,7,0,0,0,0
50,42,1950,3,27,1950-03-27,07:45:00,3,MS,28,4,...,59.3,50,1,1,1,49,121,123,79,0
51,43,1950,3,27,1950-03-27,07:45:00,3,MS,28,5,...,31.9,50,1,1,1,49,121,123,101,0
52,44,1950,3,27,1950-03-27,08:30:00,3,LA,22,10,...,0.5,27,1,1,1,37,0,0,0,0
53,45,1950,3,27,1950-03-27,08:45:00,3,MS,28,9,...,4.7,10,1,1,1,25,0,0,0,0
54,46,1950,3,27,1950-03-27,11:00:00,3,MS,28,8,...,0.1,10,1,1,1,141,0,0,0,0
55,47,1950,3,27,1950-03-27,15:00:00,3,TN,47,3,...,0.2,10,1,1,1,177,0,0,0,0
56,48,1950,3,27,1950-03-27,16:30:00,3,IL,17,4,...,3.0,50,1,1,1,113,0,0,0,0

Advanced: You can also use the ```query``` method, but the syntax is a bit different:

In [15]:
tor.query('yr == 1950 & mo == 3 & dy == 27')

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
46,38,1950,3,27,1950-03-27,03:00:00,3,OK,40,2,...,0.1,77,1,1,1,121,0,0,0,0
47,39,1950,3,27,1950-03-27,05:00:00,3,MS,28,6,...,0.1,10,1,1,1,53,0,0,0,0
48,40,1950,3,27,1950-03-27,06:00:00,3,LA,22,9,...,15.3,17,1,1,1,35,0,0,0,0
49,41,1950,3,27,1950-03-27,07:30:00,3,MS,28,7,...,11.9,10,1,1,1,7,0,0,0,0
50,42,1950,3,27,1950-03-27,07:45:00,3,MS,28,4,...,59.3,50,1,1,1,49,121,123,79,0
51,43,1950,3,27,1950-03-27,07:45:00,3,MS,28,5,...,31.9,50,1,1,1,49,121,123,101,0
52,44,1950,3,27,1950-03-27,08:30:00,3,LA,22,10,...,0.5,27,1,1,1,37,0,0,0,0
53,45,1950,3,27,1950-03-27,08:45:00,3,MS,28,9,...,4.7,10,1,1,1,25,0,0,0,0
54,46,1950,3,27,1950-03-27,11:00:00,3,MS,28,8,...,0.1,10,1,1,1,141,0,0,0,0
55,47,1950,3,27,1950-03-27,15:00:00,3,TN,47,3,...,0.2,10,1,1,1,177,0,0,0,0
56,48,1950,3,27,1950-03-27,16:30:00,3,IL,17,4,...,3.0,50,1,1,1,113,0,0,0,0

What happens if we change the last & to an |?

This would give us the rows where the yr was 1950 AND the month was 3.. or all rows where the date was 27

In [16]:
tor.query('(yr == 1950 & mo == 3) | dy == 27')

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
36,27,1950,2,27,1950-02-27,10:20:00,3,OK,40,1,...,2.00,50,1,1,1,109,0,0,0,0
37,29,1950,3,16,1950-03-16,09:15:00,3,FL,12,1,...,1.50,150,1,1,1,109,0,0,0,0
38,30,1950,3,19,1950-03-19,07:30:00,3,LA,22,6,...,2.00,33,1,1,1,19,0,0,0,0
39,31,1950,3,19,1950-03-19,13:15:00,3,LA,22,7,...,1.00,50,1,1,1,5,0,0,0,0
40,32,1950,3,19,1950-03-19,13:15:00,3,LA,22,8,...,18.10,27,1,1,1,51,75,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71799,624947,2024,9,27,2024-09-27,13:25:00,3,NC,37,0,...,0.35,50,1,1,1,157,0,0,0,0
71800,624948,2024,9,27,2024-09-27,14:11:00,3,VA,51,0,...,1.24,150,1,1,1,19,0,0,0,0
71801,624949,2024,9,27,2024-09-27,14:44:00,3,VA,51,0,...,0.15,150,1,1,1,143,0,0,0,0
71802,624950,2024,9,27,2024-09-27,16:13:00,3,NC,37,0,...,0.60,50,1,1,1,63,0,0,0,0
71803,624951,2024,9,27,2024-09-27,16:33:00,3,NC,37,0,...,0.50,50,1,1,1,181,0,0,0,0

### Chapter 6.2.3 - Practice answering questions using pandas

Read in the csv file *once* using ```tor```, and then subset using a different variable name (```tor_subset```).

In [17]:
import pandas as pd

tor = pd.read_csv("1950-2024_actual_tornadoes.csv")

How many tornadoes are in the tornado dataset?

In [18]:
## Your code

How many variables/columns are associated with each tornado?

In [19]:
## Your code

What are the names of these variables/columns?

In [20]:
## Your code

Can you give summary statistics of the 'mag' column?

In [21]:
## Your code

Get all rows that have a "mag" of 5. How many rows did you get? Could you figure out what the most common state (e.g., IL, WI, OH, etc.) is for "mag" 5 tornadoes? (HINT try using the ```value_counts``` method)

In [22]:
## Your code

Get all rows that occurred in Hawaii OR Alaska.  How many occurred in each state?

In [23]:
## Your code

Get all rows that occurred on April 27th 2011 and had a "mag" of 3 or greater.  Can you give me the counts for each "mag" category 3 and above on this day?  Based on how rare 3, 4, and 5 'mag's are, do you think this was a mundane day or an historic day? Why or why not?

In [24]:
## Your code